{# index.twig #}
{% extends "base/layout.twig" %}

{% block title %}Capti | Home page {% endblock %}

{% block main %}

<script>
	var root = document.documentElement;
	root.className += ' home';
</script>


<div class="capti--slider">
	<div class="capti--slider__slide"></div>
	<svg class="capti--slider__overlay" viewBox="0 0 10 10" preserveAspectRatio="none">
		<polygon points="0,0 10,0 10,10 1,10"></polygon>
	</svg>
	<div class="container">
		<div class="capti--slider__devices">
			<div class="capti--slider__devices-ipad"></div>
			<div class="capti--slider__devices-laptop"></div>
			<div class="capti--slider__devices-iphone"></div>
		</div>
		<div class="capti--slider__content">
			<div class="capti--slider__title"><strong>Capti Voice</strong> is universally accessible platform that works across user devices, content sources, content formats</div>
		</div>
	</div>
</div>

<div class="capti--links">
	<ul class="capti--links__list">
		<li>
			<a href="{{linkPath}}teachers.html">
				<span class="capti--icon capti--icon-1"></span>
				<span class="capti--links__title">Teachers</span>
				<span class="capti--links__subtitle">Capti Voice is a literacy support tool that helps teachers personalize reading and learning for all students</span>
				<span class="capti--links__arrow">Read more <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 16"><path d="M20.8,1.2c0,0.3,0.1,0.6,0.3,0.8L26,6.9H1.3C0.6,6.9,0.1,7.4,0.1,8s0.5,1.1,1.1,1.1H26L21.1,14c-0.2,0.2-0.3,0.5-0.3,0.8 s0.1,0.6,0.3,0.8c0.4,0.4,1.2,0.4,1.6,0l6.8-6.8c0,0,0.1-0.1,0.1-0.2c0.2-0.3,0.2-0.7,0.1-1c0-0.1-0.1-0.3-0.2-0.4l0,0l-6.8-6.9 c-0.4-0.4-1.2-0.4-1.6,0C20.9,0.6,20.8,0.8,20.8,1.2z"/></svg></span>
			</a>
		</li>
		<li>
			<a href="{{linkPath}}k-12-admin.html">
				<span class="capti--icon capti--icon-2"></span>
				<span class="capti--links__title">K-12 Admins</span>
				<span class="capti--links__subtitle">Capti Voice is the literacy support tool that helps teachers improve student outcomes through effective differentiation</span>
				<span class="capti--links__arrow">Read more <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 16"><path d="M20.8,1.2c0,0.3,0.1,0.6,0.3,0.8L26,6.9H1.3C0.6,6.9,0.1,7.4,0.1,8s0.5,1.1,1.1,1.1H26L21.1,14c-0.2,0.2-0.3,0.5-0.3,0.8 s0.1,0.6,0.3,0.8c0.4,0.4,1.2,0.4,1.6,0l6.8-6.8c0,0,0.1-0.1,0.1-0.2c0.2-0.3,0.2-0.7,0.1-1c0-0.1-0.1-0.3-0.2-0.4l0,0l-6.8-6.9 c-0.4-0.4-1.2-0.4-1.6,0C20.9,0.6,20.8,0.8,20.8,1.2z"/></svg></span>
			</a>
		</li>
		<li>
			<a href="{{linkPath}}collage-faculty.html">
				<span class="capti--icon capti--icon-3"></span>
				<span class="capti--links__title">College Faculty</span>
				<span class="capti--links__subtitle">Capti Voice is a universally accessible reading productivity tool that helps both faculty and students</span>
				<span class="capti--links__arrow">Read more <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 16"><path d="M20.8,1.2c0,0.3,0.1,0.6,0.3,0.8L26,6.9H1.3C0.6,6.9,0.1,7.4,0.1,8s0.5,1.1,1.1,1.1H26L21.1,14c-0.2,0.2-0.3,0.5-0.3,0.8 s0.1,0.6,0.3,0.8c0.4,0.4,1.2,0.4,1.6,0l6.8-6.8c0,0,0.1-0.1,0.1-0.2c0.2-0.3,0.2-0.7,0.1-1c0-0.1-0.1-0.3-0.2-0.4l0,0l-6.8-6.9 c-0.4-0.4-1.2-0.4-1.6,0C20.9,0.6,20.8,0.8,20.8,1.2z"/></svg></span>
			</a>
		</li>
		<li>
			<a href="{{linkPath}}readers.html">
				<span class="capti--icon capti--icon-4"></span>
				<span class="capti--links__title">Readers</span>
				<span class="capti--links__subtitle">Capti Voice is the best productivity app for listening to e-books, documents, and web pages</span>
				<span class="capti--links__arrow">Read more <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 16"><path d="M20.8,1.2c0,0.3,0.1,0.6,0.3,0.8L26,6.9H1.3C0.6,6.9,0.1,7.4,0.1,8s0.5,1.1,1.1,1.1H26L21.1,14c-0.2,0.2-0.3,0.5-0.3,0.8 s0.1,0.6,0.3,0.8c0.4,0.4,1.2,0.4,1.6,0l6.8-6.8c0,0,0.1-0.1,0.1-0.2c0.2-0.3,0.2-0.7,0.1-1c0-0.1-0.1-0.3-0.2-0.4l0,0l-6.8-6.9 c-0.4-0.4-1.2-0.4-1.6,0C20.9,0.6,20.8,0.8,20.8,1.2z"/></svg></span>
			</a>
		</li>
	</ul>
</div>

<div class="capti--seo capti--seo__with-img">
	<div class="container">
		<div class="col-sm-6">
			<h1>Capti Voice</h1>
			<p>Capti Voice is a universally accessible literacy tool enabling teachers to support, monitor, and assess students with diverse needs and abilities within a single classroom. Capti Voice empowers students to improve vocabulary, keep up with reading, and develop active reading strategies.</p>
			<p>Capti Voice is universally accessible in that it works across user devices, content sources, content formats, student abilities, age groups, instructional goals, and subject areas. Capti makes it very easy to create playlists with textual content and have them narrated by high quality text-to-speech.</p>
			<p>Capti has a number of innovative ML/AI/NLP-powered features including adaptive vocabulary games, contextual translation, language detection, content extraction, etc.</p>
		</div>
	</div>
</div>

<div class="capti--testimonial">

	<h2 class="capti--testimonial__title">Testimonials</h2>
	<div class="container capti--testimonial__container">
		<ul id="slides" class="capti--testimonial__slides">
			<li class="slide showing">
				<div class="capti--testimonial__item">
					<div class="capti--testimonial__text">An awesome program for educators and students!! My students are truly enjoying the program and are more willing to read challenging text</div>
					<div class="capti--testimonial__footer">
						<div class="capti--testimonial__footer-stars">
							<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						</div>
						<div class="capti--testimonial__footer-info">
							<span class="capti--testimonial__footer-role">User:</span>
							<span class="capti--testimonial__footer-user">Cre8tive Kay</span>,
							<a href="https://itunes.apple.com/us/app/capti-web-player/id437052502" target="_blank" rel="nofollow" class="capti--testimonial__footer-link">AppStore Review</a>
						</div>
					</div>
				</div>
				<div class="capti--testimonial__item">
					<div class="capti--testimonial__text">I'm used to Voice Dream, but I really like that I can switch between devices with this.</div>
					<div class="capti--testimonial__footer">
						<div class="capti--testimonial__footer-stars">
							<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						</div>
						<div class="capti--testimonial__footer-info">
							<span class="capti--testimonial__footer-role">User:</span>
							<span class="capti--testimonial__footer-user">Lucky_day</span>,
							<a href="https://itunes.apple.com/us/app/capti-web-player/id437052502" target="_blank" rel="nofollow" class="capti--testimonial__footer-link">AppStore Review</a>
						</div>
					</div>
				</div>
			</li>
			<li class="slide">
				<div class="capti--testimonial__item">
					<div class="capti--testimonial__text">I have waited for an app to easily read articles and bookshare content. I have become a casual reader and love the ability to log articles and read them later on. All from a single app!</div>
					<div class="capti--testimonial__footer">
						<div class="capti--testimonial__footer-stars">
							<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						</div>
						<div class="capti--testimonial__footer-info">
							<span class="capti--testimonial__footer-role">User:</span>
							<span class="capti--testimonial__footer-user">chadcoe20</span>,
							<a href="https://itunes.apple.com/us/app/capti-web-player/id437052502" target="_blank" rel="nofollow" class="capti--testimonial__footer-link">AppStore Review</a>
						</div>
					</div>
				</div>
				<div class="capti--testimonial__item">
					<div class="capti--testimonial__text">This will change the way I travel</div>
					<div class="capti--testimonial__footer">
						<div class="capti--testimonial__footer-stars">
							<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						</div>
						<div class="capti--testimonial__footer-info">
							<span class="capti--testimonial__footer-role">User:</span>
							<span class="capti--testimonial__footer-user">Detroitmakeovers</span>,
							<a href="https://itunes.apple.com/us/app/capti-web-player/id437052502" target="_blank" rel="nofollow" class="capti--testimonial__footer-link">AppStore Review</a>
						</div>
					</div>
				</div>
			</li>
			<li class="slide">
				<div class="capti--testimonial__item">
					<div class="capti--testimonial__text">An awesome program for educators and students!! My students are truly enjoying the program and are more willing to read challenging text</div>
					<div class="capti--testimonial__footer">
						<div class="capti--testimonial__footer-stars">
							<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						</div>
						<div class="capti--testimonial__footer-info">
							<span class="capti--testimonial__footer-role">User:</span>
							<span class="capti--testimonial__footer-user">Cre8tive Kay</span>,
							<a href="https://itunes.apple.com/us/app/capti-web-player/id437052502" target="_blank" rel="nofollow" class="capti--testimonial__footer-link">AppStore Review</a>
						</div>
					</div>
				</div>
				<div class="capti--testimonial__item">
					<div class="capti--testimonial__text">I'm used to Voice Dream, but I really like that I can switch between devices with this.</div>
					<div class="capti--testimonial__footer">
						<div class="capti--testimonial__footer-stars">
							<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						</div>
						<div class="capti--testimonial__footer-info">
							<span class="capti--testimonial__footer-role">User:</span>
							<span class="capti--testimonial__footer-user">Lucky_day</span>,
							<a href="https://itunes.apple.com/us/app/capti-web-player/id437052502" target="_blank" rel="nofollow" class="capti--testimonial__footer-link">AppStore Review</a>
						</div>
					</div>
				</div>
			</li>
			<li class="slide showed">
				<div class="capti--testimonial__item">
					<div class="capti--testimonial__text">I have waited for an app to easily read articles and bookshare content. I have become a casual reader and love the ability to log articles and read them later on. All from a single app!</div>
					<div class="capti--testimonial__footer">
						<div class="capti--testimonial__footer-stars">
							<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						</div>
						<div class="capti--testimonial__footer-info">
							<span class="capti--testimonial__footer-role">User:</span>
							<span class="capti--testimonial__footer-user">chadcoe20</span>,
							<a href="https://itunes.apple.com/us/app/capti-web-player/id437052502" target="_blank" rel="nofollow" class="capti--testimonial__footer-link">AppStore Review</a>
						</div>
					</div>
				</div>
				<div class="capti--testimonial__item">
					<div class="capti--testimonial__text">This will change the way I travel</div>
					<div class="capti--testimonial__footer">
						<div class="capti--testimonial__footer-stars">
							<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						</div>
						<div class="capti--testimonial__footer-info">
							<span class="capti--testimonial__footer-role">User:</span>
							<span class="capti--testimonial__footer-user">Detroitmakeovers</span>,
							<a href="https://itunes.apple.com/us/app/capti-web-player/id437052502" target="_blank" rel="nofollow" class="capti--testimonial__footer-link">AppStore Review</a>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<div class="capti--testimonial__buttons">
			<button class="capti--testimonial__controls capti--testimonial__controls-prev" id="previous"><i class="fa fa-angle-left"></i></button>
			<button class="capti--testimonial__controls capti--testimonial__controls-next" id="next"><i class="fa fa-angle-right"></i></button>
		</div>
	</div>
</div>

<div class="capti--awards">
	<div class="container">
		<div class="capti--awards__animation">
			<ul class="capti--awards__list">
				<li class="capti--awards__1">
					<img src="{{linkPath}}img/awards/award-1.png" alt="Department of Education Award">
					<div class="capti--awards__title">Department of Education Award</div>
				</li>
				<li class="capti--awards__2">
					<img src="{{linkPath}}img/awards/award-2.png" alt="MIT Innovator Under 35 Award">
					<div class="capti--awards__title">MIT Innovator Under 35 Award</div>
				</li>
				<li class="capti--awards__3">
					<img src="{{linkPath}}img/awards/award-3.png" alt="NIDILRR Award">
					<div class="capti--awards__title">NIDILRR Award</div>
				</li>
				<li class="capti--awards__4">
					<img src="{{linkPath}}img/awards/award-4.png" alt="NIH Award">
					<div class="capti--awards__title">NIH Award</div>
				</li>
				<li class="capti--awards__5">
					<img src="{{linkPath}}img/awards/award-5.png" alt="NSF Award">
					<div class="capti--awards__title">NSF Award</div>
				</li>
				<li class="capti--awards__6">
					<img src="{{linkPath}}img/awards/award-6.png" alt="EdTech Digest: Best Special Needs Solution of 2017">
					<div class="capti--awards__title">EdTech Digest: Best Special Needs Solution of 2017</div>
				</li>
				<li class="capti--awards__1">
					<img src="{{linkPath}}img/awards/award-1.png" alt="Department of Education Award">
					<div class="capti--awards__title">Department of Education Award</div>
				</li>
				<li class="capti--awards__2">
					<img src="{{linkPath}}img/awards/award-2.png" alt="MIT Innovator Under 35 Award">
					<div class="capti--awards__title">MIT Innovator Under 35 Award</div>
				</li>
				<li class="capti--awards__3">
					<img src="{{linkPath}}img/awards/award-3.png" alt="NIDILRR Award">
					<div class="capti--awards__title">NIDILRR Award</div>
				</li>
				<li class="capti--awards__4">
					<img src="{{linkPath}}img/awards/award-4.png" alt="NIH Award">
					<div class="capti--awards__title">NIH Award</div>
				</li>
				<li class="capti--awards__5">
					<img src="{{linkPath}}img/awards/award-5.png" alt="NSF Award">
					<div class="capti--awards__title">NSF Award</div>
				</li>
				<li class="capti--awards__6">
					<img src="{{linkPath}}img/awards/award-6.png" alt="EdTech Digest: Best Special Needs Solution of 2017">
					<div class="capti--awards__title">EdTech Digest: Best Special Needs Solution of 2017</div>
				</li>
			</ul>
		</div>

	</div>
</div>


<div class="capti--call_to_action">
	<div class="container">
		<div class="capti--call_to_action__container">
			<div class="capti--call_to_action__text">
				<div class="capti--call_to_action__suptitle">Start using Capti now</div>
				<div class="capti--call_to_action__title">Create an account or talk to our sales team!</div>
				<a href="mailto:support@captivoice.com" class="capti--call_to_action__email"><i class="fa fa-envelope-o"></i>support@captivoice.com</a>

			</div>

			<div class="capti--call_to_action__buttons">
				<a href="{{linkPath}}" class="capti--call_to_action__singup">Sign up for free <svg version="1.1" class="capti--button__arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 16"><path d="M7.8,1.2c0,0.3,0.1,0.6,0.3,0.8L13,6.9H1.3C0.6,6.9,0.1,7.4,0.1,8s0.5,1.1,1.1,1.1H13L8.1,14c-0.2,0.2-0.3,0.5-0.3,0.8 s0.1,0.6,0.3,0.8c0.4,0.4,1.2,0.4,1.6,0l6.8-6.8c0,0,0.1-0.1,0.1-0.2c0.2-0.3,0.2-0.7,0.1-1c0-0.1-0.1-0.3-0.2-0.4l0,0L9.8,0.3 c-0.4-0.4-1.2-0.4-1.6,0C7.9,0.6,7.8,0.8,7.8,1.2z"/></svg></a>
			</div>
		</div>
	</div>
</div>

<script>
function nextSlide(){goToSlide(currentSlide+1,-1)}function previousSlide(){goToSlide(currentSlide-1,1)}function goToSlide(e,s){if(s>0){for(var l=slides.length-1;l>=0;l--)slides[l].className="slide revers";slides[currentSlide].className="slide revers showed",currentSlide=(e+slides.length)%slides.length,slides[currentSlide].className="slide revers showing"}else{for(var l=slides.length-1;l>=0;l--)slides[l].className="slide";slides[currentSlide].className="slide showed",currentSlide=(e+slides.length)%slides.length,slides[currentSlide].className="slide showing"}}var slides=document.querySelectorAll("#slides .slide"),currentSlide=0,slideInterval=setInterval(nextSlide,2e4),next=document.getElementById("next"),previous=document.getElementById("previous");next.onclick=function(){nextSlide()},previous.onclick=function(){previousSlide()};
</script>

{% endblock %}
